<footer class="c-footer">

    <!--on mobile-->
    <div class="c-footer__left u-hidden--from-l-tablet">
        <button class="o-button" data-open="menu">
            <span data-switch="close">{{ generic.close|raw }}</span>
            <span data-switch="open">Menu</span>
        </button>
    </div>

    <!--on desktop-->
    <div class="c-footer__left u-hidden--until-l-tablet">
        <a target="_blank" href="http://shop.stopthedot.com/combimedica"><img class="cotton-logo" src="/assets/images/cotton_dot.png" alt=""></a>
        <p class="left-margin">P.IVA/C.F. 03854830985</p>
        <p>{{ generic.followus|raw }}:</p>
        <ul class="social-list">
            <li>
                <a href="https://www.facebook.com/stopthedot.official/" target="_blank"><svg class="o-icon icon-social"><use xlink:href="#facebook"></use></svg></a>
            </li>
            <li>
                <a href="https://www.instagram.com/stopthedot.official/" target="_blank"><svg class="o-icon icon-social"><use xlink:href="#instagram"></use></svg></a>
            </li>
        </ul>

        <p class="left-margin">Dot sostiene <a target="_blank" href="http://www.fdmonlus.it">Fondazione Donna a Milano Onlus</a></p>
    </div>
</footer>


<div class="c-borders">
    <div class="c-border c-border--top"></div>
    <div class="c-border c-border--bottom"></div>
    <div class="c-border c-border--left"></div>
    <div class="c-border c-border--right"></div>
</div>
