<svg id="icon-sheet">
    <symbol viewBox="0 0 24 24" id="instagram">
        <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="facebook">
        <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/>
    </symbol>
    <symbol viewBox="0 0 229.9 126" id="up" >
        <path d="M228.4 124.5L115 2.2 1.5 124.5"/>
    </symbol>
    <symbol viewBox="0 0 229.9 126" id="down">
        <path d="M1.5 1.9L115 124.1 228.4 1.9"/>
    </symbol>
    <symbol viewBox="0 0 30 30" id="external">
        <path d="M21.8 8.6h-.4c.4-1.9.7-3.5.7-3.6 0-2.6-2-4.6-4.6-4.6h-5.1c-2.6 0-4.6 2-4.6 4.7 0 0 .4 1.6.7 3.5h-.3c-1.5 0-2.7 1.2-2.7 2.7v7.4c0 1.5 1.2 2.7 2.7 2.7h.3c-.3 2-.7 3.6-.7 3.7 0 2.6 2 4.6 4.6 4.6h5.1c2.6 0 4.6-2.1 4.6-4.8 0 0-.3-1.6-.7-3.5h.3c1.5 0 2.7-1.2 2.8-2.7v-7.4c-.1-1.6-1.3-2.7-2.7-2.7zm1.3 10.1c0 .7-.6 1.4-1.4 1.4H19.9c.1.4.2.9.2 1.3.4 1.9.7 3.5.7 3.6 0 1.9-1.6 3.4-3.4 3.4h-5.1c-1.9 0-3.4-1.5-3.4-3.2 0-.1.4-1.8.7-3.8.1-.4.1-.9.2-1.3H8.2c-.7 0-1.4-.6-1.4-1.4v-7.4c0-.7.6-1.4 1.4-1.4h1.7c-.1-.5-.2-.9-.2-1.3C9.3 6.7 9 5.1 9 4.9c0-1.9 1.6-3.4 3.4-3.4h5.1c1.9 0 3.4 1.5 3.4 3.2 0 .1-.3 1.8-.7 3.8-.1.4-.2.9-.2 1.3H21.8c.7 0 1.4.6 1.4 1.4-.1 0-.1 7.5-.1 7.5z"/>
    </symbol>
    <symbol viewBox="0 0 30 30" id="liner">
        <path d="M17.4 28.8h-4.8c-2.4 0-4.3-1.9-4.3-4.3 0-.2 1.5-7.2 1.5-9.5S8.4 5.8 8.3 5.7c0-2.5 1.9-4.4 4.3-4.4h4.8c2.4 0 4.3 1.9 4.3 4.3 0 .2-1.6 7.2-1.6 9.4 0 2.3 1.6 9.2 1.6 9.3 0 2.5-1.9 4.5-4.3 4.5zM12.6 2.4c-1.7 0-3.2 1.4-3.2 3.2 0 .2 1.5 7 1.5 9.4 0 2.4-1.4 9.3-1.5 9.6 0 1.6 1.4 3 3.2 3h4.8c1.7 0 3.2-1.4 3.2-3.2-.1-.2-1.6-7-1.6-9.4 0-2.4 1.6-9.3 1.6-9.6 0-1.6-1.4-3-3.2-3h-4.8z"/>
    </symbol>
    <symbol viewBox="0 0 30 30" id="internal">
        <path d="M15.1 20.2h-.3c-1.3 0-2.3-1-2.3-2.3V2.8c0-1.3 1-2.3 2.3-2.3h.3c1.3 0 2.3 1 2.3 2.3v15.1c.1 1.2-1 2.3-2.3 2.3zm-.2-18.6c-.6 0-1.2.5-1.2 1.2v15.1c0 .6.5 1.2 1.2 1.2h.3c.6 0 1.2-.5 1.2-1.2V2.8c0-.6-.5-1.2-1.2-1.2h-.3z"/>
        <path d="M16.6 29.4c-2.6-1.3-2.3-8.4-2.2-9.9l1.2.1c-.2 3.2.2 8.1 1.6 8.8l-.6 1z"/>
    </symbol>
</svg>
