<div id="loader" class="c-loader">
    <div class="c-loader__wrapper">
        <div class="c-loader__numbers" data-loader></div>
        <p class="c-loader__text">{{ generic.percent|raw }}</p>
    </div>
</div>