{# Define the site navigation #}
{% set nav = {
    home: { slug: "homepage" },
    about: { slug: "about" },
    tampon: { slug: "applicatorTampons" },
    pad: {slug: "hygenicPad" },
    liner: { slug: "pantyLiner" },
    sanity: { slug: "nightPads" },
    tss: { slug: "tss" },
    contacts: { slug: "contact" }
}
%}

{% set base = (craft.locale == 'it') ? '' : '/en' %}

<header>
    <div id="logo" class="c-logo">
        <a href="{{base}}/">
            <img src="/assets/images/logo.svg" alt="Dot logo">
        </a>
        <div class="c-payoff">
            <strong>{{ generic.payoff|raw }}</strong>
        </div>
    </div>
</header>
<nav class="c-navigation" data-overlay="menu">
    <div class="c-navigation-container">
        <ul class="c-menu">
            {% for key, item in nav %}
                {% set url = craft.entries.section(item.slug).locale(craft.locale).first().uri %}
                {% set title = menu[key] %}

                <li>
                    {% if (url =='__home__')  %}
                        <a class="nav-link" data-href="{{key}}" href="{{base}}/">{{title}}</a>
                    {% else %}
                        <a class="nav-link" data-href="{{key}}" href="{{base}}/{{ url }}">{{title}}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {# Loop through all of the site locales, except the current one #}
        {% set otherLocales = craft.i18n.getSiteLocaleIds() %}
        {% for locale in otherLocales %}
            {% if loop.first %} <ul class="languages-list">{% endif %}

                {% set current = (craft.locale == locale) ? 'current' : '' %}
                {% set lang = (locale == 'it') ? '' : 'en' %}

                <li class="{{ current }}">
                    <a class="no-route" href="/{{lang}}">{{ locale|upper }}</a>
                </li>

                {% if loop.first %}<li>•</li>{% endif %}
            {% if loop.last %}</ul>{% endif %}
        {% endfor %}

        <div class="u-hidden--from-l-tablet">
            <ul class="social-list">
                <li>
                    <a href="https://www.facebook.com/stopthedot.official/" target="_blank">
                        <svg class="o-icon icon-social">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/stopthedot.official/" target="_blank">
                        <svg class="o-icon icon-social">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
