<div class="c-request" id="request-overlay" data-overlay="request">
    <div class="o-content o-content--center">
        <h1 class="o-title o-title--small" data-anim="split">{{generic.request|raw}}</h1>
        <div class="c-contact">
            <div class="c-contact-col" data-anim="text">
                <p class="o-text">
                  <!--<b>Richiedi il tuo campione gratuito</b>, provaci e non lasciamoci più.<br />-->
                  {{request.intro|raw}}
                  <br><br>
                  <i>
                  {{request.italic|raw}}
                  </i>
                </p>
                <div class="c-contact__bottom">
                  <p class="o-text"><b>Email</b>: hello@stopthedot.com</p>
                  <p class="o-text"><b>Tel</b>: +39 030 8372502</p>
                </div>
            </div>
            <div class="c-contact-col">
                <div class="c-form-wrapper">
                    <form class="c-form">
                        <div class="c-form__row">
                            <input class="c-form__input" name="name" type="text" id="name" placeholder="{{form.yourname|raw}}" autocomplete="off">
                            <span></span>
                        </div>
                        <div class="c-form__row">
                            <input class="c-form__input" name="email" type="text" id="email" placeholder="{{form.youremail|raw}}" autocomplete="off">
                            <span></span>
                        </div>
                        <div class="c-form__row">
                            <input class="c-form__input" name="telephone" type="text" id="telephone" placeholder="{{form.yourphone|raw}}" autocomplete="off">
                            <span></span>
                        </div>
                        <div class="c-form__row">
                            <textarea class="c-form__input" name="text" rows="5" placeholder="{{form.yourmessage|raw}}" id="message"></textarea>
                            <span></span>
                        </div>

                        <div class="c-form__row">
                            <button class="o-button-submit" id="submit-mail">{{form.send}}</button>
                            <div class="c-checkbox">
                                <input id="privacy-check" type="checkbox" value="" autocomplete="off">
                                <label for="privacy-check"></label>
                                <span>{{form.accept|raw}} <a class="o-link" data-hover="privacy" target="_blank" href="https://www.iubenda.com/privacy-policy/7958354/cookie-policy">privacy</a></span>
                            </div>
                        </div>
                    </form>
                    <div class="c-send-message">
                        <p data-message>{{form.thanks|raw}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
