.o-button {
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;

    background: color($color-black);
    color: white;
    letter-spacing: 0.05rem;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    @at-root .no-touchevents &:hover {
        box-shadow: 0 8px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    }

    &:visited {
        color: white !important;
    }

    &--color {
        @at-root .no-touchevents &:hover {
            box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
            background: color(pink);
            color: $color-black !important;
        }
    }
}

.o-button-submit {
    @extend %link;
    position: relative;
    border: 0;
    background: transparent;
    color: $color-black;
    letter-spacing: 0.05rem;
    font-weight: 400;
    transition: all 0.3s linear;
}