.o-columns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100%;

    &--end {
        align-items: flex-end;
    }
}

.o-col {
    width: 100%;
    flex: 1 0 auto;

    @include mq(l-tablet) {
        width: 25%;
        padding: $standard-padding / 2;
    }

    @include mq(l-tablet) {
        width: 25%;
        padding: $standard-padding;
    }
}