$icon-size: 40px;

#icon-sheet {
    height: 0;
}

.o-icon {
    width: $icon-size;
    height: $icon-size;
    fill: rgba(color($color-black), 0.8);
    color: $color-text;
}

.icon-social {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    fill: rgba(color($color-black), 1);
    opacity: 1;
    transition: all 0.3s linear;

    @include mq(wide) {
        width: 19px;
        height: 19px;
    }

    @at-root .no-touchevents &:hover {
        opacity: 0.6;
    }
}

.icon-dot {
    width: 44px;
    height: 44px;
}

.icon-arrow {
    @include boost-performance;
    width: 18px;
    height: 18px;
    stroke: $color-black;
    stroke-width: 1em;
    fill: none;
    transition: all 0.3s ease-out;
    will-change: transform;
    cursor: pointer;

    @at-root .no-touchevents &:hover {
        stroke-width: 1.5em;
    }
}
