.page-view {
    overflow: hidden;
    
    .page {
        visibility: hidden;
    }

    @at-root.is-products & {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @include mq(l-tablet) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.page {
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include mq(l-tablet) {
        position: fixed;
        height: 100%;
    }
}

.o-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: $container-width;
    overflow: scroll;
    padding: 20vh $small-grid-size;

    @include mq(l-tablet) {
        padding: 0 $small-grid-size;
    }

    &--center {
        position: relative;
        display: flex;
        flex-flow: column;

        @include mq(l-tablet) {
            justify-content: center;
        }
    }

    @include mq(l-tablet) {
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
    }

    @include mq(wide) {
        max-width: 1280px;
    }
}