%link,
.standard-link {
    position: relative;
    transition: all 0.8s linear;

    @at-root .no-touchevents &:hover {
        &::after {
            color: color(normal-gray);
            transform: translateY(0);
            opacity: 1;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background: $color-black;

        transition: all 0.8s cubic-bezier(.27,1.59,.36,.89);
        transform: translateY(10px);
        opacity: 0;
    }
}