<!DOCTYPE html>
<html class="no-js" lang="{{craft.locale}}">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" href="/assets/images/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon.png">
    <meta name="theme-color" content="#f9d0c8">

    
    {% hook 'seomaticRender' %}

    <script src="/assets/vendors/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="/assets/css/application.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '868915689822657');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=868915689822657&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <script>
        fbq('track', 'ViewContent');
    </script>

    {% include './components/_icons.html' %}
    {% include './components/_loader.html' %}
    {% include './components/_navigation.html' %}

    
    <div id="js-page" class="page-view">
        {% block main %}
        {% endblock %}
    </div>
    <canvas id="background" class="background"></canvas>


    {% include './components/_request.html' %}
    {% include './components/_footer.html' %}

    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
        window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
    </script>
    <script src="/assets/js/build.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-90534915-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
