{% extends "./_default.html" %}

{% block main %}
<div id="js-page" class="page-view">
    <div id="page-about" class="page-about page">
        <div data-content>
            <div id="about-slideshow" class="c-slideshow">
                <div class="c-slide-nav">
                    <div class="c-slide-nav__wrapper">
                <span data-next class="c-slide-prev">
                    <svg class="o-icon icon-arrow"><use xlink:href="#up"></use></svg>
                </span>
                        <span data-prev class="c-slide-next">
                    <svg class="o-icon icon-arrow"><use xlink:href="#down"></use></svg>
                </span>
                        <span class="c-dot"></span>
                        <div class="c-slide-numbers">
                            <span data-current></span>-<span data-total></span>
                        </div>
                    </div>
                </div>

                <div class="o-content">
                    <div id="visualizer">
                        <div class="sprite-container sprite-about">
                            <div class="sprite-mobile"></div>
                            <canvas id="sprite"></canvas>
                        </div>
                    </div>
                    <div class="c-title">
                        <h2 data-anim="split" class="o-title">{{titoli.aboutUs|raw}}</h2>
                    </div>

                    <div class="c-slides">
                        {% for slide in entry.slide %}
                            <div class="c-slide c-slide__text">
                                <div class="o-columns o-columns--end">
                                    <div class="o-col" data-anim="text">
                                        <p class="o-text">
                                            {{ slide.uno|raw }}
                                        </p>
                                    </div>
                                    <div class="o-col" data-anim="text">
                                        <p class="o-text">
                                            {{ slide.due|raw }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="c-shop-button">
                <a href="http://shop.stopthedot.com/" class="o-button o-button--color" target="_blank">{{ generic.shopNow }}</a>
            </div>
        </div>
    </div>
</div>
<!-- <canvas id="background" class="background"></canvas> -->


{% endblock %}

