{% extends "./_default.html" %}

{% block main %}        
<div id="page-contact" class="page-contact page">
    <div data-content>
        <div class="o-content o-content--center">
            <h1 class="o-title o-title--small" data-anim="split">{{entry.title|raw}}</h1>
            <div class="c-contact">
                <div class="c-contact-col" data-anim="text">
                    <p class="o-text">
                        {{entry.text|raw}}
                    </p>
                </div>
                <div class="c-contact-col" data-anim="text">
                    <address>
                        <p class="o-text">New Medical Horizons s.r.l.</p>
                        <p class="o-text">Via Cefalonia 49</p>
                        <p class="o-text">25124 Brescia (Bs)</p>
                        <p class="o-text">Italia</p>
                        <p class="o-text">P.IVA / C.F. 03854830985</p>
                    </address>
                    <div>
                        <p class="o-text"><b>Tel</b>: +39 030 8372502</p>
                        <p class="o-text"><b>Email</b>: hello@stopthedot.com</p>
                    </div>
                    <div>
                        <!--<p class="o-text"><b>Sede</b>: +39 0123456789</p>-->
                        <!--<p class="o-text"><b>Commerciale</b>: +39 0123456789</p>-->
                    </div>
                </div>
                <!--<div class="c-contact-col" data-anim="text">
                    <div class="c-form-wrapper">

                        <form class="c-form" id="form-contact" method="post" action="" accept-charset="UTF-8">
                            {{ getCsrfInput() }}
                            <input type="hidden" name="action" value="contactForm/sendMessage">

                            <div class="c-form__row">
                                <input class="c-form__input" name="fromName" type="text" id="fromName" placeholder="{{form.yourname|raw}}" autocomplete="off">
                                <span></span>
                            </div>
                            <div class="c-form__row">
                                <input class="c-form__input" name="message[email]" type="text" id="email" placeholder="{{form.youremail|raw}}" autocomplete="off">
                                <span></span>
                            </div>
                            <div class="c-form__row">
                                <input class="c-form__input" name="message[telephone]" type="text" id="telephone" placeholder="{{form.yourphone|raw}}" autocomplete="off">
                                <span></span>
                            </div>
                            <div class="c-form__row">
                                <textarea class="c-form__input" name="message[body]" rows="5" placeholder="{{form.yourmessage|raw}}" id="message"></textarea>
                                <span></span>
                            </div>

                            <div class="c-form__row">

                                <input class="o-button-submit" id="submit-mail" type="submit" value="{{form.send}}">

                                <div class="c-checkbox">
                                    <input id="privacy-check" type="checkbox" value="" autocomplete="off">
                                    <label for="privacy-check"></label>
                                    <span>{{form.accept|raw}} <a class="o-link" data-hover="privacy" target="_blank" href="https://www.iubenda.com/privacy-policy/7958354/cookie-policy">privacy</a></span>
                                </div>
                            </div>
                        </form>
                        <div class="c-send-message">
                            <p data-message>{{form.thanks|raw}}</p>
                        </div>
                    </div>
                </div>-->
            </div>
            <!--<div class="c-contact__bottom" data-anim="text">
                <p class="o-text">C.F. 03854830985 • <a href="http://adoratorio.com" target="_blank">Credits</a></p>
            </div>-->
        </div>
        <div class="c-shop-button">
            <a href="http://shop.stopthedot.com/" class="o-button o-button--color" target="_blank">{{ generic.shopNow }}</a>
        </div>
    </div>
</div>
{% endblock %}

