{% extends "./_default.html" %}
{% set base = (craft.locale == 'it') ? '' : '/en' %}

{% block main %}
<div id="page-products-hygenic-pad" class="page-hygenic-pad page">
    <div data-content>
        <div id="slideshow" class="c-slideshow">
            <div class="c-slide-nav">
                <div class="c-slide-nav__wrapper">
                <span data-next class="c-slide-prev">
                    <svg class="o-icon icon-arrow"><use xlink:href="#up"></use></svg>
                </span>
                    <span data-prev class="c-slide-next">
                    <svg class="o-icon icon-arrow"><use xlink:href="#down"></use></svg>
                </span>
                    <span class="c-dot"></span>
                    <div class="c-slide-numbers">
                        <span data-current></span>-<span data-total></span>
                    </div>
                </div>
            </div>

            <div class="c-slide-side" data-scroll-down>
                <a data-href="liner" href="{{base}}/panty-liner" class="c-slide-side__wrapper">
                    <span>{{generic.scrollfor}}</span>
                    <p data-next-product>{{titoli.titoloSalvaslipShort|lower |raw}}</p>
                </a>
            </div>

            <div class="o-content">
                <div id="visualizer">
                    <div class="sprite-container sprite-pad">
                        <canvas id="sprite"></canvas>
                    </div>
                </div>
                <div class="c-title">
                    <h2 data-anim="split" class="o-title">{{titoli.titoloEsterno|raw}}</h2>
                </div>
                
                <div class="c-table">
                    <div class="c-table__title">{{ generic.piecesNumber }}</div>
                    <div class="c-table__title table-double">{{ generic.absorbance }}</div>
                    <div class="c-table__body">
                        <svg class="o-icon icon-dot">
                            <use xlink:href="#external"></use>
                        </svg>
                        <span>12 - 14</span>
                    </div>
                    <div class="c-table__dots">
                        <div class="c-table__dot">
                            <span class="c-dot"></span>
                            <span class="c-dot"></span>
                        </div>
                        <div class="c-table__dot">
                            <span class="c-dot"></span>
                            <span class="c-dot"></span>
                            <span class="c-dot"></span>
                        </div>
                    </div>
                    <div class="c-table__texts">
                        <p>regular</p>
                        <p>super</p>
                    </div>
                </div>

                <div class="c-slides">

                    {% for slide in entry.slide %}
                    <div class="c-slide">
                        <p class="c-slide__bottom o-text" data-anim="text">
                            {{ slide.uno|raw }}
                        </p>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="c-shop-button">
            <a href="{{ entry.linkInterno }}" class="o-button o-button--color" target="_blank">{{ generic.shopNow }}</a>
        </div>
    </div>
</div>
{% endblock %}
