{% extends "./_default.html" %}

{% set base = (craft.locale == 'it') ? '' : '/en' %}

{% block main %}
<div id="page-products" class="page-products page">
    <div data-content>
        <div class="c-prod c-prod--borders">
            <div class="c-prod-row" data-border="0">
                <div class="c-prod-align prod-1">
                    <div class="c-prod-border" data-parallax="0" data-speed="-1.6">
                        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="c-prod-row" data-border="1">
                <div class="c-prod-align prod-2">
                    <div class="c-prod-border" data-parallax="1" data-speed="-1.6">
                        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="c-prod-row" data-border="2">
                <div class="c-prod-align prod-3">
                    <div class="c-prod-border" data-parallax="2" data-speed="-1.6">
                        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="c-prod-row" data-border="3">
                <div class="c-prod-align prod-4">
                    <div class="c-prod-border" data-parallax="3" data-speed="-1.6">
                        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <canvas class="bubbles"></canvas>

        <div class="c-prod">
            <div class="c-prod-row" data-product="0">
                <div class="c-prod-align prod-1">
                    <a href="{{base}}/applicator-tampons" data-param="home">
                        <div class="c-prod-block c-prod-block--reverse">
                            <h1 class="o-title" data-text="top" data-parallax="0" data-speed="2">
                                {{ titoli.titoloInterno|raw }}
                            </h1>
                            <div class="prod-footer u-hidden--until-s-tablet">
                                <span class="c-prod__discover" data-text="bottom" data-parallax="0" data-speed="1">scopri</span>
                                <span class="o-title o-title--light" data-text="bottom" data-parallax="0" data-speed="2">01</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="c-prod-row" data-product="1">
                <div class="c-prod-align prod-2">
                    <a href="{{base}}/hygenic-pad" data-param="home">
                        <div class="c-prod-block">
                            <h1 class="o-title" data-text="bottom" data-parallax="1" data-speed="2">
                                {{ titoli.titoloEsterno|raw }}
                            </h1>
                            <div class="prod-footer u-hidden--until-s-tablet">
                                <span class="c-prod__discover" data-text="top" data-parallax="1" data-speed="1">scopri</span>
                                <span class="o-title o-title--light" data-text="top" data-parallax="1" data-speed="2">02</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="c-prod-row" data-product="2">
                <div class="c-prod-align prod-3">
                    <a href="{{base}}/panty-liner" data-param="home">
                        <div class="c-prod-block c-prod-block--reverse">
                            <h1 class="o-title u-text--right" data-text="top" data-parallax="2" data-speed="2">
                                {{ titoli.titoloSalvaslip|raw }}
                            </h1>
                            <div class="prod-footer prod-footer--reverse u-hidden--until-s-tablet">
                                <span class="c-prod__discover" data-text="bottom" data-parallax="2" data-speed="1">scopri</span>
                                <span class="o-title o-title--light" data-text="bottom" data-parallax="2" data-speed="2">03</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="c-prod-row" data-product="3">
                <div class="c-prod-align prod-4">
                    <a href="{{base}}/night-pads" data-param="home">
                        <div class="c-prod-block c-prod-block--reverse">
                            <h1 class="o-title u-text--right" data-text="bottom" data-parallax="3" data-speed="2">
                                {{ titoli.titoloSanity|raw }}
                            </h1>
                            <div class="prod-footer prod-footer--reverse u-hidden--until-s-tablet">
                                <span class="c-prod__discover" data-text="top" data-parallax="3" data-speed="1">scopri</span>
                                <span class="o-title o-title--light" data-text="top" data-parallax="3" data-speed="2">04</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="c-shop-button">
            <a href="http://shop.stopthedot.com/" class="o-button o-button--color" target="_blank">{{ generic.shopNow }}</a>
        </div>
    </div>
</div>
{% endblock %}
