.c-borders {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

$border-size: 15px;

.c-border {
    background: color(white);
    position: fixed;

    &--top,
    &--bottom {
        width: 100%;
        height: $border-size;
        left: 0;
    }

    &--top {
        top: 0;
    }

    &--bottom {
        bottom: 0;
    }

    &--left,
    &--right {
        height: 100%;
        width: $border-size;
        top: 0;
    }

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }
}