$checkbox-size: 15px;


.c-checkbox {
    display: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + label {
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        border-radius: 50%;
        background: transparent;
        border: 1px solid $color-black;
        margin: 10px 10px 10px 1px;
        transition: all 0.2s ease-out;
    }

    input[type=checkbox]:checked + label {
        background: $color-black;
    }


    input[type=checkbox].is-wrong + label {
        border: 1px solid color(red);
    }
}