.c-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: z-index(header);

    display: flex;
    justify-content: space-between;
    font-size: 12px;

    margin: $small-grid-size;

    @include mq(wide) {
        margin: $grid-size;
    }

    .left-margin {
        margin-right: 20px;
    }

    a {
        font-weight: 600;
    }

    .cotton-logo {
        display: block;
        width: 200px;
        margin-right: $standard-padding;
    }
}

.c-shop-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: z-index(header);

    margin: $small-grid-size;
    @include mq(wide) {
        margin: $grid-size;
    }
}

.c-footer__left {
    display: flex;
    align-items: flex-end;

    p {
        margin: 0;
    }
}

.social-list {
    margin-right: $small-grid-size;

    li {
        cursor: pointer;
        display: inline-block;
        transition: all 0.3s linear;

        @at-root .no-touchevents &:hover {
            opacity: 0.6;
        }
    }

    .current {
        font-weight: 800;
        pointer-events: none;
    }
}

[data-open] {
    position: relative;
}

[data-switch="close"] {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}