.c-form-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.c-form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    @include mq($until:s-tablet) {
        margin: 10vh 0;
    }
}

.c-form__row {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    overflow: hidden;

    &:first-of-type {
        input {
            padding-top: 0px;
        }
    }

    &:last-of-type {
        margin: 0;
        margin-top: $big-padding;
        overflow: visible;
    }
}

.c-form__input {
    position: relative;
    width: 100%;
    padding: 20px;
    background: transparent;
    color: $color-black;
    border: 0;
    border-bottom: 1px solid $color-black;
    transition: all 0.2s ease-out;

    &.is-wrong {
        border-bottom: 1px solid red;
        + span {
            background: color(red);
        }
    }

    + span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        z-index: -1;
        background: $color-black;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
        transform: translate3d(0 ,100%, 0);
    }

    &:focus {
        outline: 0;
        + span {
            transform: translate3d(0, 0, 0);
        }
    }
}

.c-send-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

    //opacity: 0;
    //visibility: hidden;
}