.c-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z-index(loader);
    color: $color-black;
    background: white;
    text-transform: uppercase;
}

.c-loader__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.c-loader__numbers {
    display: block;
    font-size: font-size(xxl);
    font-weight: 400;
}

.c-loader__text {
    opacity: 0;
    visibility: hidden;
}
