// Logo

.c-logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z-index(header);
    width: 30px;
    margin: $small-grid-size;

    @include mq(l-tablet) {
        width: 55px;
    }

    @include mq(wide) {
        margin: $grid-size;
    }
}