// Navigation

.c-navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: z-index(header);
    width: 100%;
    height: 100%;
    background: color(light-gray);
    margin: 0;
    display: none;

    @include mq(l-tablet) {
        display: block;
        width: auto;
        height: auto;
        margin: $small-grid-size;
        background: transparent;
    }

    @include mq(wide) {
        margin: $grid-size;
    }
}

.c-menu {
     display: flex;
     transform-origin: 0 0;
     flex-flow: column;
     align-items: center;

     @include mq(l-tablet) {
         flex-flow: row;
         margin-bottom: 0px;
     }

     li {
         display: inline-block;
         margin: 10px;
         font-size: font-size(m);
         text-align: center;

         @include mq(l-tablet) {
             padding-left: $standard-padding;
             position: relative;
             margin: 0px;
             font-size: font-size(s);
             text-align: left;
         }

         &:last-of-type {
             padding-right: 0;
         }
     }
}

.c-navigation-container {
    display: flex;

    @include mq($until:s-tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .social-list,
    .languages-list {
        text-align: center;
        margin: 0 auto;

        li {
            margin: 5px;
            display: inline-block;
        }

        .icon-social {
            margin: 0;
        }
    }

    .languages-list {
        @include mq(l-tablet) {
            margin-left: 20px;
            li {
                margin: 2px;
            }
        }
    }
}

.nav-link,
&:visited {
    @extend %link;
    transition: color 0.2s linear;
    color: rgba($color-black, 0.8);
}

%active-link {
    color: rgba($color-black, 1);
    &::after {
        opacity: 1;
        transform: translateY(0 );
        color: rgba($color-black, 1);
    }
}

.is-pad [data-href="pad"]  {
    @extend %active-link;
}

.is-liner [data-href="liner"]  {
    @extend %active-link;
}

.is-tampon [data-href="tampon"]  {
    @extend %active-link;
}

.is-products [data-href="home"]  {
    @extend %active-link;
}

.is-about [data-href="about"] {
    @extend %active-link;
}

.is-contact [data-href="contacts"] {
    @extend %active-link;
}

.is-sanity [data-href="sanity"] {
    @extend %active-link;
}

.is-tss [data-href="tss"] {
    @extend %active-link;
}
