// Home Products

.page-products {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$product-proportion: 60%;

.c-prod {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: $grid-size * 2 0;

    @include mq(l-tablet) {
        flex-flow: row;
        padding: 0;
    }
}

.c-prod--borders {
    background: radial-gradient(ellipse at center, color(normal-gray) 0%, color(light-gray) 100%);
    z-index: -1;

    .c-prod-border {
        padding: 0;
        display: none;

        @include mq(l-tablet) {
            display: block;
        }
    }

    svg {
        position: absolute;

        rect {
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 3;
            stroke: white;
        }
    }

}

.c-prod-row {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;

    // &:nth-of-type(even) {
    //     background: rgba(firebrick, 0.3);
    // }

    @include mq(l-tablet) {
        width: 25%;

        &.is-active {
            width: 50%;
        }
    }

    //reorder on mobile
    @include mq($until:s-tablet) {
        &:last-of-type {
            order: 4;
        }

        &:nth-child(2) {
            order: 3;
        }
    }
}


.c-prod-align {
    cursor: pointer;
    position: relative;
    width: 100%;
    //overflow: hidden;

    @include mq(l-tablet) {
        &::before {
            content: '';
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding-bottom: $product-proportion;
        }

        &.prod-1 {
            .c-prod-block,
            .c-prod-border svg {
                transform: translate3d(27%, 12%, 0);
            }
        }

        &.prod-2 {
            .c-prod-block,
            .c-prod-border svg {
                transform: translate3d(20%, 0%, 0);
            }
        }

        &.prod-3 {
            .c-prod-block,
            .c-prod-border svg {
                transform: translate3d(-22%, 14%, 0);
            }
        }

        &.prod-4 {
            .c-prod-block,
            .c-prod-border svg {
                transform: translate3d(-22%, 14%, 0);
            }
        }
    }
}

.c-prod-block,
.c-prod-border {
    margin: auto;
    height: 100%;
    padding: $big-padding;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow-x: visible;
    white-space: nowrap;

    .c-prod__discover {
        text-transform: uppercase;
        vertical-align: bottom;
        align-self: flex-end;
    }

    &--reverse {
        flex-flow: column-reverse;

        .c-prod__discover {
            align-self: flex-start;
        }
    }


    @include mq(l-tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: $product-proportion;
    }
}

.prod-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--reverse {
        flex-flow: row-reverse;
    }

    @include mq($until:mobile) {

    }
}
