.c-slideshow {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    @include mq(l-tablet) {
        position: absolute;
    }
}

.c-slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.c-slide {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    @include mq(l-tablet) {
        position: absolute;
    }

    a, b {
        font-weight: 700;
    }

    &__text {
        top: auto;
        height: auto;

        @include mq(l-tablet) {
            margin: ($small-grid-size * 3) 0;
        }

        @include mq(wide) {
            margin: ($grid-size * 3) 0;
        }
    }
}


.c-slide__bottom {
    position: relative;

    @include mq(l-tablet) {
        position: absolute;
        width: 35%;
        bottom: 0;
        right: 0;
        margin: ($grid-size * 3) 0;
    }

    @include mq(wide) {
        margin: ($grid-size * 3) 0;
    }
}

.c-slide-nav,
.c-slide-side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: $small-grid-size;
    display: flex;
    align-items: center;
    display: none;

    .c-dot {
        display: block;
        margin: 10px;
        transition: all 0.2s ease-out;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-flow: column;
    }

    @include mq(l-tablet) {
        display: flex;
    }

    @include mq(wide) {
        margin: $grid-size;
    }
}

.c-slide-side {
    left: auto;
    right: 0;
    font-size: font-size(s);
    text-align: right;

    p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.c-slide-next,
.c-slide-prev {
    display: block;
    text-align: center;
}

.c-slide-prev {
    @at-root .no-touchevents &:hover ~ .c-dot {
        transform: translateY(-5px);
    }
}

.c-slide-next {
    order: 2;
    @at-root .no-touchevents &:hover ~ .c-dot {
        transform: translateY(5px);
    }
}

.c-slide-numbers {
    @extend %font-body;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    margin: 10px;
    display: flex;
    align-items: center;

    span {
        margin: 0 5px;
    }
}
