.sprite-container {
    position: absolute;

     canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.sprite-tampon {
    top: 0;
    right: 0;
    width: 70%;

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 64%;
    }
}

.sprite-pad {
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 75%;
    transform: translateY(-5%);

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 40%;
    }
}

.sprite-liner {
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    margin: auto;
    transform: translateY(-5%);

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 40%;
    }
}

.sprite-sanity {
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    margin: auto;
    transform: translateY(-5%);
    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 40%;
    }
}

.sprite-about {
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;

    .sprite-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        background: url('/assets/images/about-mobile.png');
        background-size: cover;
        background-position: center;
    }

    @include mq(l-tablet) {
        .sprite-mobile {
            display: none;
        }
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 56%;
    }
}

.sprite-about,
.sprite-tss {
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    .sprite-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        background: url('/assets/images/tss-mobile.png');
        background-size: cover;
        background-position: center;
    }
    @include mq(l-tablet) {
        .sprite-mobile {
            display: none;
        }
    }
    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 56%;
    }
}


#sprite {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    object-fit: contain;
    position: absolute;
    display: none;

    @include mq(l-tablet) {
        display: block;
    }
}
