.c-table {
    @extend %font-body;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 1px;
    grid-column-gap: $big-padding;
    width: 50%;

    @include mq($until:s-tablet) {
        margin-top: 30vh;
        grid-column-gap: 10px;
    }

    .table-double {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

.c-table__body {
    display: flex;
    align-items: center;
}

.c-table__head {
    @extend %font-body;
    text-align: left;

    span {
        margin: 0 10px;

        @include mq($until:s-tablet) {
            margin: 0 5px;
        }
    }
}

.c-table__dots,
.c-table__texts {
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    p {
        margin: 8px 0;
    }
}

.c-table__dot {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    .c-dot:first-child {
        margin-left: 0;
    }

    @include mq(l-tablet) {
        // margin: 0 $big-padding;
        margin: 0;
    }
}
