.c-contact {
    margin-top: $big-padding;

    @include mq(l-tablet) {
        display: flex;
    }
}

.c-contact-col {
    margin-bottom: 10vh;

    .o-text {
        font-size: font-size(sm);
        margin: 0;
    }

    address {
        margin-bottom: 5em;
    }

    @include mq(l-tablet) {
        width: 50%;
        flex: 1;
        margin-bottom: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        &:first-of-type {
            padding-right: $grid-size * 2;
        }
    }
}