#visualizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include mq(l-tablet) {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

.c-slideshow {
    line-height: 1.45em;

    .c-table {
        @include mq(l-tablet) {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 $small-grid-size;
            margin: ($grid-size * 3) 0;
        }

        @include mq(wide) {
            margin: ($grid-size * 3) 0;
        }
    }

    .c-title {
        position: relative;
        // margin-top: 24vh;

        @include mq(l-tablet) {
            position: absolute;
            top: 15%;
            left: 40%;
            margin: $grid-size;
        }
    }
}
