$colors: (
    dark-gray: #6C6D6E,
    normal-gray: #dfe0e1,
    light-gray: #f5f9fc,
    dark: #4b4649,
    blue: #476175,
    pink: #f9d0c8,
);

$color-black: color(dark);
$color-text: $color-black;
