@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

$font-size-default: 16px !default;
$font-size-mobile: 14px !default;

$font-sizes: (
    xxl: 120px,
    xl: 75px,
    l: 55px,
    m: 25px,
    sm: 20px,
    s: 16px,
) !default;

%font-heading {
    font-size: font-size(40);
    line-height: line-height(55, 40);
    font-weight: 400;

    &::-moz-selection {
        text-shadow: 3px 3px #E29F9C;
    }

    &::selection {
        text-shadow: 3px 3px #E29F9C;
    }

    @include mq(s-tablet) {
        font-size: font-size(xl);
        line-height: line-height(75, xl);
    }
}

%font-heading-small {
    font-size: font-size(l);
    line-height: line-height(75, l);
    font-weight: 400;
}

%font-body {
    font-weight: 300;
    font-size: font-size(s);
    line-height: line-height(20, s);

    @include mq(wide) {
        font-size: font-size(sm);
        line-height: line-height(30, sm);
    }
}

%font-ui {
    font-weight: 400;
}

.t-font-bold {
    font-weight: 500;
}