$mq-breakpoints: (
    mobile: 480px,
    s-tablet: 768px,
    l-tablet: 992px,
    desktop: 1200px,
    wide: 1920px
);


$layers: (
    behind: -1,
    base: 0,
    above: 1,
    modal: 10,
    header: 50,
    loader: 100
);

$standard-padding: 20px;
$big-padding: 30px;
$small-grid-size: 40px;
$grid-size: 60px;

//PSD base viewport size
$viewport-width: 1280px;
$viewport-height: 720px;

$container-width: 1100px;
