.o-title {
    @extend %font-heading;
    margin: 0;
    color: $color-text;
    font-weight: normal;
    text-transform: uppercase;

    &--light {
        font-weight: 300;
    }

    &--small {
        @extend %font-heading-small;
    }
}

.o-text {
    @extend %font-body;
}